[user]
	name = TheCollinsByte
	email = collin@collindigm.com
	email = collo@thecollinsbyte.com
[init]
	defaultBranch = main
[core]
	editor = vim
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false